{% extends 'base.html'%}
{% block content %}

{% if username %}
    <h1>Hello {{ username }}</h1>
{% else %}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-control")}}
        {{ form.password_2.label(class="form-label")}}
        {{ form.password_2(class="form-control")}}
        
        <br/>
        {{ form.submit(class="btn btn-success") }}

    
    </form>

{% endif %}
{% endblock %}